
.icon-user:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f1d3'; } /* '' */