*{
    box-sizing: content-box;
    // font-size: 15px;
}
html{
    min-height: 100%;
}

body{
    display: flexbox;
    font-size: 14px;
    color: darkkhaki;
    background-image: url(../img/pexels-felix-mittermeier-956999-zmniejszony.JPG);
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-around;
    width: 88vw;
    display: flex;
    padding: 5px;
    margin: 3%;
    border-bottom:3px solid green;
    color: antiquewhite;
}

.logo{
    // display: flex;
    font-size: 5em;
    align-items: center;
    // justify-content: center;
    // padding: 5px;
    margin-bottom: 3%;
    margin-left:  1%;

}

@font-face {
    font-family: Akronim-Regular;
    src: url(../fonty/Akronim-Regular.ttf);
}

#zegar{
    font-size: 3em;
    font-family: akronim-regular;
    
}

.inne{
    opacity: 0%;
}
main{
    display: flex;
    margin-bottom: 2;
    height: 60vh;
    
}
button{
    font-size: 13px;
    // opacity: 50%;
    background: none;
    color: antiquewhite;
    padding: 5px;
    width: 150px;
}

button:hover{
    opacity: 80%;
}

nav{
    flex: 3;
    display: flex;
    border-right: 2px dotted yellow;
    flex-direction: column;
    height: 40vh;
    margin-top: 10px;
    margin-bottom: 10px;
    scroll-padding-bottom: 5px;
    color: antiquewhite;
    align-items: center;
    justify-content: space-around;


}
article{
    flex: 15;
    color: bisque;
}

iframe{
    border: 2px dashed red !important;
    width: 90%;
    height: 98%;
}

footer{
    display: flex;
    width: 88vw;
    height: 5%;
    border-top:2px solid blue;
    border-bottom: 2px solid blue;
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 3%;
    justify-content: space-around;
}

.footer{
    font-size: 1em;
    align-items: center;
    padding-top: 14px;
    color: bisque;
}