* {
    box-sizing: border-box;
}

body {
    background-image: url(hotel-wallpaper-black.png);
    text-align: center;
    padding: 5%;
}

.logo {
    padding-bottom: 3%;
}
nav {
    display: flex;
    border: 3px solid yellow;
    justify-content: space-evenly;
    padding: 3%;
    color: wheat;
    width: 100%;
}
.nav {
    font-size: 18px;
    font-style: white;
}

.main {
    color: whitesmoke;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

.top1 {
    font-size: 14px;
    flex: 2;
    /* display: flex; */
}

img {
    padding: 1%;
}
.obrazek {
    background-image: url(article.png);
}
.left {
    flex: 2;
}
.prawy {
    font-style: white;
    flex: 1;
    padding: 2%;
    border-right:2px dotted greenyellow;
    
}