body{
    background-color: tomato;
}
div{
    border: 2px; dashed:yellow;
}
.gora{
    text-align: center;
    padding: 20px 0;

}
.srodek1{
padding: 10px;
display: flex;
justify-content: center;

}
.jpg{
    padding: 6%;
    border: 2px solid rgb(rgb(202, 67, 67), green, blue)
    currentColor
}

.srodek2{
padding: 20%;
display: flex;
justify-content: center;


}

.dol{
text-align: center;
    
}