body{
    background-color: tomato;
}
div{
    border: 2px dashed yellowgreen
}
.gora{
    text-align: center;
    padding: 20px 0;

}
.srodek1{
padding: 10px;
display: flex;
justify-content: center;

}
.jpg{
    padding: 6%;
    border: 2px solid rgb(rgb(202, 67, 67), green, blue)
    currentColor
}

.srodek2{
padding: 80px;
border: 2px;
display: flex;
justify-content: space-around;

.displayjpg{
    flex: 3;
}
.descjpg{
    flex: 2;
}

}

.dol{
padding: 12px;
text-align: center;
    
}