body{ 
    background-color: burlywood;
    font-size: 18px
}
div{border: 1px solid black;
    
}
.gora{
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
    
}
.gora_mala{
    float: right;
    width: 60%;
    justify-content: space-between;
}
.logo{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    
}
.menu{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu1{
    padding: 5px;
    width: 33%;

}
.menu2{
    padding: 5px;
    width: 33%;
}
.menu3{
    padding: 5px;
    width: 33%;

}
.absolutne{
    border: 1px solid black;
    text-align: left 30px;
    height: 30pc;
    width: 100%;
    

}
.absolutne_ramka{
    /* border: 1px solid black; */
    height: 15pc;
    width: 60%;
    display: flex;
    justify-content:space-around
}

.wykres1{
    height: 70%;
    width: 5%;
}

.wykres2{
    height: 60%;
    width: 5%;
}

.wykres3{
    height: 50%;
    width: 5%;
}

.wykres4{
    height: 40%;
    width: 5%;
}

.wykres5{
    height: 30%;
    width: 5%;
}

.relatywne_ramka{
    height: 15pc;
    width: 70%;
    

}

.wykres1a{
    height: 7%;
    width: 65%;
    
}
.wykres2a{
    height: 7%;
    width: 55%;
    
}
.wykres3a{
    height: 7%;
    width: 45%;
    
}
.wykres4a{
    height: 7%;
    width: 35%;
    
}

.czcionka{
    font-size: 2em;
    border: none;
    width: 100px;
    height: 50px
    padding-left: 25%;
}
.czcionka1{
    font-size: 3em;
    border: none;
    height: 10%;
    padding-left: 45%;
}