body{ 
    background-color: burlywood;
    font-size: 18px
}
div{border: 1px solid black;

   
}

.gora{
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
    
}
.gora_mala{
    float: right;
    width: 60%;
    justify-content: space-between;
}
.logo{
    /* border: 1px solid black; */
    border: none;
    /* text-align: center; */
    padding: 10px;
    display: none
    width: 90px;
    height: 90px;
    
}

.menu{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu1{
    padding: 5px;
    width: 33%;

}
.menu2{
    padding: 5px;
    width: 33%;
}
.menu3{
    padding: 5px;
    width: 33%;

}
.absolutne{
    border: 1px solid black;
    text-align: left 30px;
    height: 30pc;
    width: 100%;
    /* ustawienie ramki w środku pola */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        

}
.absolutne_ramka{
    /* border: 1px solid black; */
    height: 15pc;
    width: 60%;
    display: flex;
    justify-content:space-around
}

.wykres1{
    height: 70%;
    width: 5%;
    background-color: yellow;
}

.wykres2{
    height: 60%;
    width: 5%;
    background-color: yellow;
}

.wykres3{
    height: 50%;
    width: 5%;
    background-color: yellow;
}

.wykres4{
    height: 40%;
    width: 5%;
    background-color: yellow;
}

.wykres5{
    height: 30%;
    width: 5%;
    background-color: yellow;
}

.relatywne_ramka{
    height: 15pc;
    width: 70%;
    /* background-color: blue; */

    /* margin-bottom: 15px; */

    display: flex;
    /* rozdzielenie pasków */
    flex-direction: column;
    /* ustawienie poziome */
    justify-content:space-evenly
    /* ustawienie poziome */
    /* align-items:flex-start */
    

}

.wykres1a{
    height: 10%;
    width: 65%;
    background-color: blue;
    
}
.wykres2a{
    height: 10%;
    width: 55%;
    background-color: blue;
    
}
.wykres3a{
    height: 10%;
    width: 45%;
    background-color: blue;
    
}
.wykres4a{
    height: 10%;
    width: 35%;
    background-color: blue;
    
}

.czcionka{
    width: 100%;
    border: none;
    
}

.czcionka1{
    border: none;
    font-size: 2em;
    height: 10%;
    padding-left: 25%;
}
.obrazek{
    width: 90px;
    height: 90px;
    display: block
    background: url(img/sprites.jpg);
    
}
.obrazek{
    width: 90px;
    height: 90px;

}
.obrazek:hover{
    background: url(img/sprites.jpg) 0-90px;
}

.obrazek:active{
    background: url(img/sprites.jpg) 0-180px;
}